@import url('https://fonts.googleapis.com/css?family=Raleway');
@media only screen and (min-width: 701px)  {
	.Groot {display: block;}
	.Mobile {display: none;}
	body {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 20px;
}
}
@media only screen and (max-width: 700px)  {
	.Groot {display: none;}
	.Mobile {display: block;}
	body {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 16px;
}
}

/* ------------------ Alle secties -------------------*/

* {
	margin: 0px auto;
	padding: 0px auto;
}

#Headerbalk {
	background-image: url(../images/Header.jpg);
	width: 100vw;
	height: 10vh;
	z-index: 1;
}

#boven-nav{
	width: 100vw;
	margin-top: -7vh;
	font-size: 25px;
	z-index: 2;
}

#HeaderbalkM {
	background-color: #0f438e;
	width: 100vw;
	height: 11vh;
}

#boven-navM {
	width: 30vw;
	margin-top: 5vh;
	margin-left: 0vw;
	font-size: 50px;
	text-shadow: 2px 2px 4px #000000;
	display: none;
	z-index: 1;
}

ul {
  list-style: none;
}

li {
	float: left;
	margin-left: 10vw;
	margin-right: 5vw;
}

li a {
	text-decoration: none;
    display: block;
    width: 60px;
}
a:link {
	color:#EB1115;
}

a:hover {
	color: green;
}

::-webkit-scrollbar {
    display: none;
}
/* ------------------ Welkom -------------------*/

#Welkom {
	margin-top: 10vh;
	display: flex;
}

#SlideShow{
	width: 65vw;
}

.Welkom {
	position: relative;
	width: 25vw;
}

.Slide {
	width: 50vw;
	height: auto;
}

.SlideFoto {
	width: 50vw;
	height: 50vh;
}

.welkomtekst {
	width: 30vw;
	text-align: center;
}

#WelkomM {
	margin-top: 10vh;
	display: flex;
}

#SlideShowM {
	width: 65vw;
}

.WelkomM {
	position: relative;
	width: 25vw;
}

.SlideM {
	width: 90vw;
	height: auto;
}

.SlideFotoM {
	width: 90vw;
	height: 30vh;
}

.welkomtekstM {
	width: 30vw;
	text-align: center;
}

.welkomM{
	width: 90vw;
}

/* ------------------ Assortiment -------------------*/

.TitleAssortiment {
	text-align: center;
}

#Assortiment {
	display: flex;
}

.Assortiment {
	flex-direction: row;
}

.Product {
	height: 30vh;
	width: 30vw;
}

.Fotos1 {
	flex-direction: column;
}

.Fotos2 {
	flex-direction: column;
}

.Fotos3 {
	flex-direction: column;
}

#AssortimentM {
	display: flex;
}

.ProductM {
	height: 30vh;
	width: 90vw;
}

.Fotos1M {
	flex-direction: column;
}

.Fotos2M {
	flex-direction: column;
}

.Fotos3M {
	flex-direction: column;
}

/* ------------------ Contact -------------------*/

.TitleContact {
	text-align: center;
}

#Contact {
	display: flex;
	flex-direction: row;
}

.FooterTekst {
	width: 30vw;
	position: relative;
}

.map {
	width: 40vw;
	height: 50vh;
}
